<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link href="//maxcdn.bootstrapcdn.com/bootswatch/3.2.0/superhero/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="css/game.css"/>
</head>
<body>   
    <div id="game-div"></div>
    <div class="container">
        <div class="row">
            <div class="col-sm-8 col-md-8 col-lg-8">
                <h4 class="page-header">Your game description</h4>
<p>Do you see any Teletubbies in here? Do you see a slender plastic tag clipped to my shirt with my name printed on it? Do you see a little Asian child with a blank expression on his face sitting outside on a mechanical helicopter that shakes when you put quarters in it? No? Well, that's what you see at a toy store. And you must think you're in a toy store, because you're here shopping for an infant named Jeb. </p>
            </div>
            <div class="col-sm-4 col-md-4 col-lg-4">
                <h4 class="page-header">Controls</h4>
            </div>

        </div>
    </div>
	<script src="js/vendor/phaser.min.js"></script>
    <script src="js/game/states/boot.js"></script>
    <script src="js/game/states/load.js"></script>
    <script src="js/game/states/play.js"></script>
    <script src="js/game/game.js"></script>
</body>
</html>